<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @presenter.building.name %>
</p>

<p>
  <b>Description:</b>
  <%= @presenter.building.description %>
</p>

<p>
  <b>City:</b>
  <%= @presenter.building.city %>
</p>

<p>
  <b>State:</b>
  <%= @presenter.building.state %>
</p>

<p>
  <b>Type:</b>
  <%= @presenter.building.type %>
</p>

<p>
  <b>Year built:</b>
  <%= @presenter.building.year_built %>
</p>

<p>
  <b>Featured:</b>
  <%= @presenter.building.featured %>
</p>


<%= link_to 'Edit', edit_building_path(@presenter.building) %> |
<%= link_to 'Back', buildings_path %>
